<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="offset2 span6">
          <ul class="nav">
            <li>
              <a href="@root_path">@sitename</a>
            </li>
            foreach $root do
              if $children do
                <li>
                  <div class="nav-group dropdown">
                    <a href="@url">@title</a>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      :children
                    </ul>
                  </div>
                </li>
              endif
              if !$children do
                <li>
                  <a href="@url">@title</a>
                </li>
              endif
            endforeach
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="@root_path/public/js/fixnav.js"></script>
